---
const { source, className } = Astro.props;
import DynamicIcon from "@/helpers/DynamicIcon";

export interface ISocial {
  name: string;
  icon: string;
  link: string;
}

// PERBAIKAN: Pastikan source selalu berupa array agar .map() tidak error
const socialLinks: ISocial[] = source || [];
---

<ul class={className}>
  {
    socialLinks.map((social: ISocial) => (
      <li>
        <a
          aria-label={social.name}
          href={social.link}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">{social.name}</span>
          <DynamicIcon className="inline-block" icon={social.icon} />
        </a>
      </li>
    ))
  }
</ul>